#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#page-content-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}