.btn-outline-primary:hover {
    background-color: #e73827;
    border-color: #e73827;
    color: white;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: #e73827;
    border-color: #e73827;
    color: white;
    box-shadow: 0 0 0 0.25rem rgba(231, 56, 39, 0.25);
}